#titre {
    border-bottom: 5px solid red;
    color: black;
    font-family: 'Comfortaa', cursive;
}

#texte1{
    padding-top: 23%;
}


#colonne1 {
    background-color: chartreuse;
}

#colonne2 {
    background-color: chocolate;
}

#colonne3 {
    background-color: darkblue;
}